node_modules/
output/
!output/**/.gitkeep
token_images/yours/*/*
!token_images/yours/**/.gitkeep
token_images/5etools/*
!token_images/5etools/**/.gitkeep
!rings/.gitkeep
# Configuration
config.json
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Specific
.DS_Store
Thumbs.db 
